body {
  margin: 0;
  padding: 0;
 
  overflow-y:auto;
  overflow-x:hidden;
  
}

html,body {
}

img {
  border: none;
}

* {
  font-family: "Microsoft YaHei";
  font-size: 13px;
  color: #626262;
}

dl,dt,dd {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
}

#bg {
  background-image: url(images/content/dotted.png);
}

.container {
  width: 100%;
 /* height: 100%;*/
  margin: auto;
}

/*left*/
.leftsidebar_box {
  width: 300px;
 /* height: auto !important;*/
  /*position: fixed;*/
 /* height: 100% !important;*/
  background-color: #ffffff;
}

.line {
  height: 2px;
  width: 100%;
  background-image: url(images/left/line_bg.png);
  background-repeat: repeat-x;
}

.leftsidebar_box dt {
  padding-left: 40px;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00a1f1;
  font-size: 15px;
  position: relative;
  line-height: 48px;
  cursor: pointer;
  margin-left: 100px;
}

.leftsidebar_box dd {
  background-color: #ffffff;
  padding-left: 40px;
}

/*change 1*/
.leftsidebar_box dd a {
  color: #00a1f1;
  line-height: 30px;
  margin-left: 100px;
}

.leftsidebar_box dt a {
  color: #00a1f1;
  line-height: 48px;
}

.leftsidebar_box dt img {
  position: absolute;
  right: 10px;
  top: 20px;
  margin-left: 100px;
}

.system_log dt {
  background-image: url(../images/left/system.png);
  margin-left: 100px;
}

.custom dt {
  background-image: url(../images/left/custom.png);
  margin-left: 100px;
}

.channel dt {
  background-image: url(../images/left/channel.png);
  margin-left: 100px;
}

.app dt {
  background-image: url(images/left/app.png);
  margin-left: 100px;
}

.cloud dt {
  background-image: url(images/left/cloud.png);
  margin-left: 100px;
}

.syetem_management dt {
  background-image: url(images/left/syetem_management.png);
  margin-left: 100px;
}

.source dt {
  background-image: url(images/left/source.png);
  margin-left: 100px;
}

.statistics dt {
  background-image: url(images/left/statistics.png);
  margin-left: 100px;
}

.leftsidebar_box dl dd:last-child {
  padding-bottom: 10px;
}