
.d1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #ffffff;
	position: relative;
}

.loading {
	width: 100%;
	background-color: #ffffff;
	color: #FFCC00;
	font-size: 12px;
	height: 179px;
	text-align: center;
	padding-top: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.dl ul{
	width:100%;
}
.dl ul li{
	width:100%;
}
.dl ul li a{
	width:100%;
	height:100%;
	display:inline-block;
}
.dl ul li a img{
	width:100%;
	max-width:100%;
}
.d2 {
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.d2 a {
	width:100%;
	height:100%;
	display:inline-block;
}
.d2 a img{
	width:100%;
	max-width:100%;
	max-height:100%;
}
.num_list {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	background-color: #ffffff;
	color: #FFFFFF;
	font-size: 12px;
	padding: 4px 0px;
	height: 20px;
	overflow: hidden;
}

.num_list span {
	display: inline-block;
	height: 16px;
	padding-left: 6px;
}

img {
	border: 0px;
}

ul {
	display: none;
}

.button {
	position: absolute;
	z-index: 1000;
	right: 0px;
	bottom: 2px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

/*改数字默认显示的颜色*/
.b1,.b2 {
	background-color:rgba(255,255,255,0);
	display: block;
	float: left;
	padding: 2px 6px;
	margin-right: 3px;
	color: #b6d9e8;
	text-decoration: none;
	cursor: pointer;
	height:25px;
}

/*改当前的颜色*/
.b2 {
	color: rgb(255, 216, 72);
	background-color:rgba(255,255,255,0);
}